body {
    font-family: 'Kanit', serif;
    font-size: 18px;
  }

p {
    font-size: 16px;
}

a {
    color: #2d2e2e;
}

a:hover {
    text-decoration: none;
}

.text_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 65px;      /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .strike_modif {
     color: red;
    font-size: 13px;
 }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

img {
  width: 100%;
  height: auto;
	padding: 5px;
}

h2 {
  text-align:center;
	padding-bottom: 1em;
}

@media screen and (max-width:800px) {
    #col2, #col3 {font-size: 10px;};
}

@media screen and (max-width:480px) {
    #col2, #col3, #col4 {font-size: 8px;};
}

/* iframe modif */
@media screen and (max-width:800px) {
    #iframe_responsive {display: none;};
}
@media screen and (max-width:800px) {
    .col-side-nav {display: none;};
}
@media screen and (max-width:480px) {
    #iframe_responsive {display: none;};
}

@media screen and (max-width:800px) {
    #iframe_responsive_main {width: 220px; height: 150px;}
}


/* BEST-SELLER */
@media screen and (max-width:800px) {
    #BEST-SELLER {display: none};
}

@media screen and (max-width:800px){
    #modif-card, #head-card-modif {
        font-size: 12px;
    };
}
@media screen and (max-width:480px){
    #modif-card, #head-card-modif {
        font-size: 8px;

    };
}

@media screen and (max-width: 800px){
    #window-responsive {display: none;};
    #mobile-responsive {display: inline;};
}
@media screen and (min-width: 799.99px){
    #mobile-responsive {display: none;};
}



/* sidebar */
.col-side-nav {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    bottom: -60px;
    position: absolute;
    z-index: 99;
    padding: 3px;
}

#price-course {
    font-size: 21px;
}

#modif-card {
    background-color: #2d2e2e;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
}

/* nav1 */
.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

/* nav1 */
.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav1li {
    float: left;
}

.nav1li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav1li a:hover:not(.active) {
    background-color: gray;
}

.active {
    background-color: #4CAF50;
}